<h1 class="font-semibold text-4xl">Сбор данных о товаре</h1>
<br>

<%= form_with url: products_path, method: :post, local: true do |form| %>
  <div class="mb-4">
    <%= form.label :urls do %>Введите ссылки на товары с
      <a href="https://oz.by/" target="_blank" class="text-blue-500">OZ.BY </a>(каждая с новой строки):
    <% end %><br>
    <%= form.text_area :urls, rows: 2 %>
  </div>

  <div class="mb-6">
    <%= form.submit "Добавить товары", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>

<% if @errors.present? %>
  <h2 class="font-semibold">Ошибки:</h2>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<br>

<a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="<%= products_path(@product) %>">Статистика товаров</a>


